/*all button styling*/
.cBtn{
    text-decoration: none;
    border: none;
    display: inline-block;
    cursor: pointer;
    padding: 15px 32px;
    font-size: 15px;
}

.greenBtn{
    background: palegreen;
    color: black;

}

.greenBtn:hover{
    background: limegreen;
    color: black;
}

.redBtn{
    background: indianred;
    color: black;

}

.redBtn:hover{
    background: red;
    color: black;
}

.blueBtn{
    background: cornflowerblue;
    color: black;

}

.blueBtn:hover{
    background: blue;
    color: white;
}

.tableStyle{
    width: 80%;
    background: lightgray;
    font-size: 16px;


    .tableStyle-top{
        background: cadetblue;
        text-align: left;
    }
}

.strukture{
    display: flex;

    .box{
    display: grid;
    }


}

.page{
    text-decoration: none;
    text-align: center;
    color: black;
}

ul{
    list-style-type: none;
}

.spacing{
    margin: 20px;
    padding: 20px;
}

.topSpacing{
    margin-top: 10px;
}

.buyBox{
    background: beige;
    border: gray 1px solid;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}